@tailwind base;
@tailwind components;
@tailwind utilities;


/* Declaração de camadas personalizadas */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@custom-variant dark (&:is(.dark *));

/* Variáveis CSS (Cores, Fontes, etc.) */
:root {
  --background: #ffffff;
  --foreground: #374151;
  --card: #fefce8;
  --card-foreground: #475569;
  --popover: #ffffff;
  --popover-foreground: #374151;
  --primary: #059669;
  --primary-foreground: #ffffff;
  --secondary: #10b981;
  --secondary-foreground: #ffffff;
  --muted: #f1f5f9;
  --muted-foreground: #374151;
  --accent: #10b981;
  --accent-foreground: #ffffff;
  --destructive: #d97706;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: #f9fafb;
  --ring: rgba(5, 150, 105, 0.5);
  --chart-1: #059669;
  --chart-2: #10b981;
  --chart-3: #d97706;
  --chart-4: #4b5563;
  --chart-5: #fefce8;
  --radius: 0.5rem;
  --sidebar: #f1f5f9;
  --sidebar-foreground: #374151;
  --sidebar-primary: #ffffff;
  --sidebar-primary-foreground: #059669;
  --sidebar-accent: #10b981;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #e5e7eb;
  --sidebar-ring: rgba(5, 150, 105, 0.5);
}

